<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Paladin - St. Christopher's</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://www.stchristophershospital.com/SiteAssets/css/theme_stchris.css" />
    <link rel="stylesheet" type="text/css" href="https://www.stchristophershospital.com/SiteAssets/css/stchris.css" />
</head>


<body>
    <div class="paladin-container mt-5" id="explore-all-container">
        <div class="paladin-row">
            <div class="paladin-col-md-12">
                <div class="inner-container accent-bg-2">
                    <div class="explore-all"> Explore all of St. Christoper's Hospital for Children &nbsp;<i class="fa fa-chevron-circle-up hidden-md-down"></i><i class="fa fa-chevron-circle-down hidden-lg-up"></i></div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer Start-->
    <div class="paladin-container hidden-md-down" id="footer-container">
        <div class="paladin-row">
            <div class="paladin-col-md-12">
                <div class="inner-container accent-bg-1">
                    <footer class="pb-2 pt-3">

                        <div id="footerNav" class="plNavWrp" v-cloak=v-cloak>
							            <ul class="plNavList">
                                <li v-for="item in menuItems">
                                    <a v-bind:href="item.link">{{ item.Name }}</a>
                                    <ul>
                                        <li v-for="subitem in item.subItems"><a v-bind:href="subitem.link">{{ subitem.Name }}</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </footer>
                </div>

            </div>
        </div>
    </div>

    <div class="paladin-container mb-2">
        <div class="paladin-row">
            <div class="paladin-col-md-8">
                <div class="copyrightFooterNav">
                    <ul>
                        <li><a href="http://www.stchristophershospital.com/SitePages/Privacy-Notice.aspx">Privacy Notice</a></li>
                        <li><a href="http://www.stchristophershospital.com/SitePages/Nondiscrimination-Notice-and-Language-Assistance-Services.aspx">Notice of Non-Discrimination</a></li>
                        <li><a href="http://www.stchristophershospital.com/SitePages/Accessibility-Statement.aspx">Accessibility</a></li>
                        <li><a href="http://www.stchristophershospital.com/SitePages/Terms-and-Conditions.aspx">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="paladin-col-md-4 text-right">
                <span class="pl-reserved">  2018 St. Christopher's Hospital for Children, All Rights Reserved</span>
                <div class="pl-powered">Powered by <a href="#">MyHospitalWebSite.com</a></div>
            </div>
        </div>
    </div>

    <!--Footer Ends-->
    <script  src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    
    <script src="https://www.stchristophershospital.com/SiteAssets/js/vue.min.js"></script>
    <script src="https://www.stchristophershospital.com/SiteAssets/js/tether.js"></script>
    <script src="https://www.stchristophershospital.com/SiteAssets/js/j-sliding-banner.js"></script>

    <script src="https://www.stchristophershospital.com/SiteAssets/js/plmain.js"></script>
    <script src="https://www.stchristophershospital.com/SiteAssets/js/stchris.js"></script>

    <script src="https://www.stchristophershospital.com/SiteAssets/js/menu.js"></script>
    <script src="https://www.stchristophershospital.com/SiteAssets/js/header.js"></script>
    <script src="https://www.stchristophershospital.com/SiteAssets/js/footer.js"></script>

</body>
</html>
